<form method="post" action="/client/panier/filtre" style="display: inline-block">
    <div class="form-group">
        <input name="filter_word" type="text" placeholder="Recherche" size="10" class="form-control"
               value="{% if session['filter_word'] %}{{ session['filter_word'] }}{% endif %}">
    </div>
    {% if items_filtre is defined %}
    <div class="form-group">
        <h4>Types articles</h4>
        {% for item_filtre in items_filtre %}
            <input type="checkbox" name="filter_types" value="{{ item_filtre.id_coupe_jean }}"
                   {% set id_item = item_filtre.id_coupe_jean | string %}
                   {% if session['filter_types'] %}
                       {{ ' checked ' if (id_item in session['filter_types']) else '' }}
                   {% endif %}>
            {{ item_filtre.nom_coupe }}<br/>
        {% endfor %}
    </div>
    {% endif %}

    {# Nouveau bloc pour le filtre par taille #}
    {% if items_taille is defined %}
    <div class="form-group">
        <h4>Taille</h4>
        {% for taille in items_taille %}
            <input type="checkbox" name="filter_tailles" value="{{ taille.id_taille }}"
                   {% set id_taille = taille.id_taille | string %}
                   {% if session['filter_tailles'] %}
                       {{ ' checked ' if (id_taille in session['filter_tailles']) else '' }}
                   {% endif %}>
            {{ taille.nom_taille }}<br/>
        {% endfor %}
    </div>
    {% endif %}

    <div class="form-group">
        <h5>Prix :</h5>
        <input name="filter_prix_min" type="text" placeholder="min" size="3"
               value="{% if session['filter_prix_min'] %}{{ session['filter_prix_min'] }}{% endif %}">
        <input name="filter_prix_max" type="text" placeholder="max" size="3"
               value="{% if session['filter_prix_max'] %}{{ session['filter_prix_max'] }}{% endif %}">
    </div>
    <button type="submit" class="btn btn-primary" style="display: inline-block;">Filtrer</button>
</form>
{% if session['filter_word'] or session['filter_prix_max'] or session['filter_prix_min'] or session['filter_types'] or session['filter_tailles'] %}
<form action="/client/panier/filtre/suppr" style="display: inline-block; margin: 5px;" method="post">
    <button class="btn btn-primary">Supprimer filtre</button>
</form>
{% endif %}
